.AllCart_Container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.Mobile_Button {
    display: none;
}



@media screen and (max-width: 650px) {
    .Mobile_Button {
        display: block;
        position: fixed;
        position: relative;
    }

    .AllCart_Container {
        width: 100%;
    }
}